:root {
  --black: #1C1C1C;
  --red: #E4051C;
  --primary: #EC5464;
  --secondary: #F9B8BE;
}

.black {
  color: var(--black);
}

.red {
  color: var(--red);
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}